{% extends "book_1/base.html" %}
{% load static %}


{% block main_content %}    







<h1>here are your details</h1>




  {% for message1 in messages %}
    <div class="alert alert-success">{{ message1 }}</div>
  {% endfor %}








<h2 class="text-center mt-4">🎉 Submission Successful!</h2>

 
{% if saved_obj %}
<div class="card mt-4 p-3 shadow">
  <h4>Name: {{ saved_obj.username }}</h4>
  <h4>password: {{ saved_obj.password }}</h4>
  <h4>email: {{ saved_obj.email }}</h4>
  <p>Character: {{ saved_obj.character }}</p>
  <p>Game: {{ saved_obj.game }}</p>
  <p>Type: {{ saved_obj.type }}</p>
  <p>Date & Time: {{ saved_obj.dateandtime }}</p>

  {% if saved_obj.picture %}
    <img src="{{ saved_obj.picture.url }}" alt="{{ saved_obj.name }}" width="200" class="img-thumbnail mt-2">
  {% endif %}
</div>
{% else %}
<p>No data found.</p>
{% endif %} 



<a href="{% url 'home'  %}" class="btn btn-danger">home page</a>
 <a href="{% url 'list_gamers'  %}" class="btn btn-primary">View All</a> 
<a href="{% url 'update_gamer' saved_obj.id %}" class="btn btn-warning">Edit</a>
<a href="{% url 'delete_gamer' saved_obj.id %}" class="btn btn-danger">Delete</a>











{% endblock %}


