.a1{

height: 40px;
width: 100px;
border-radius: 29px;
display: flex;
justify-content: center;
align-items: center;    
background-color: rgb(244, 237, 108);
text-transform: uppercase;
text-decoration: none;
font-size: 20px;
color: rgb(1, 1, 1);


}
.a2{

height: 45px;
width: 200px;
border-radius: 29px;
display: flex;
justify-content: center;
align-items: center;    
background-color: rgb(244, 237, 108);
text-transform: uppercase;
text-decoration: none;
font-size: 20px;
color: rgb(1, 1, 1);


}
